# Ignore Python virtual environments
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
Resources/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore Streamlit cache
.streamlit/
